<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
<h2 th:text="#{owners.title}">Pet Owners</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{name}">Name</th>
        <th th:text="#{lastName}">Lastname</th>
    </tr>
    </thead>
    <tbod>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner?.id}">id</td>
            <td th:text="${owner?.name}">John</td>
            <td th:text="${owner?.lastName}">Doe</td>
        </tr>
    </tbod>
</table>
</body>
</html>