<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<body>
<h2 th:text="#{vets.title}">Vets List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th th:text="#{id}">ID</th>
        <th th:text="#{name}">Name</th>
        <th th:text="#{lastName}">Lastname</th>
    </tr>
    </thead>
    <tbod>
        <tr th:each="vet: ${vets}">
            <td th:text="${vet?.id}">id</td>
            <td th:text="${vet?.name}">John</td>
            <td th:text="${vet?.lastName}">Doe</td>
        </tr>
    </tbod>
</table>
</body>
</html>